
div.mosca {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    bottom: 50%;
    left: 0;
}

div.contenidor {
    width: 500px;
    margin: auto;
    position: relative;
    background-color: black;
    height: 200px;
}
