div.calculadora * {
    box-sizing: border-box;
}

div.calculadora {
    width: 150px;
    background-color: rgb(240, 167, 58);
    border-radius: 8px;
    padding: 8px;
    margin: auto;
}

div.pantalla {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: rgb(200, 200, 200);
    border: white solid 1px;
    text-align: right;
    padding: 0 5px;
}

div.pantalla.error {
    color: red;
}

div.tecla{
    width: 25%;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: white;
    background-color: rgb(83, 83, 83);
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
    border: white solid 2px;
}

div.tecla.rojo{
    background-color: red;
}

div.teclado {
    display: flex;
    flex-wrap: wrap;
}