
div.mostra {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
}

div.rgb {
    width: 50%;
    margin: auto;
    text-align: center;
}

