

div.selector {
    display: flex;
    width: 35%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

div.selector img {
    cursor: pointer;
    width: 100px;
}

div.partida {
    display: flex;
    width: 35%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

div.partida img {
    cursor: pointer;
    width: 50%;
}

div.resultat {
    text-align: center;
}

div.resultat p {
    color: red;
    font-size: 35px;
}